
<% content_for :title, @item.name %>
<div class="span12">
  <h1><%= @item.name %></h1>
  <% if @item.image.present? %>
      <p><%= image_tag @item.image.url(:lager) %></p>
  <% end %>
  <p><%= @item.description.html_safe %></p>
</div>