<% content_for :sidebar do %>
    <div class="span3 ">
      <div class="well sidebar-nav">
        <h3>Категории</h3>
        <%= render_navigation :level => 2 %>
      </div><!--/.well -->
    </div><!--/span-->
<% end %>
<% content_for :title, @item.name %>
<div class="span9">
  <h1><%= @item.name %></h1>
  <% if @item.mage.present? %>
      <p><%= image_tag @item.image.url(:lager) %></p>
  <% end %>
  <p><%= @item.description %></p>
  <!--<table class="table table-striped">-->
</div>